body{
    background-image:url(images/bg.jpg);
    font-size:150%;
    font-family: serif;
}
h1{
    font-family: serif;
    text-align: center;
}
h2{
    font-family: serif;
    text-align: center;
}
p{
    font-family:monospace;
    color:darkblue;
}
table, th, td{
    border:1px solid black
}